<div class="container" *ngIf="products">
  <h1>Products</h1>
  <span class="float-right mb-md-2">
    <button *ngIf="authService.isAdmin" type="button" class="btn btn-secondary"
            routerLink="./add">Create Product</button>
    <a *ngIf="authService.isCustomer" type="button" class="btn btn-secondary ml-md-1" routerLink="/cart"><i
      class="fa fa-shopping-cart"></i></a>
  </span>
  <app-product-table [dataList]="products" [headers]="['Category', 'Product Name', 'Price', '']"></app-product-table>
</div>
