<div class="container-fluid w-75" *ngIf="products; else loadingComponent">
  <div class="mat-headline mt-md-5">
    <b i18n="Page Title Products List">Products</b>
    <div class="float-right">
      <button mat-raised-button color="primary" *ngIf="(userRoles$ | async).includes('admin')" type="button" class="btn btn-secondary"
              routerLink="./add" i18n="Page Button Create Button">Create Product
      </button>
      <a mat-raised-button *ngIf="(userRoles$ | async).includes('customer')" type="button" class="btn btn-secondary ml-md-1"
         routerLink="/cart"><i
        class="fa fa-shopping-cart"></i></a>
    </div>
  </div>
  <mat-divider></mat-divider>
  <app-product-table [dataList]="products"></app-product-table>
</div>
<ng-template #loadingComponent>
  <app-background-loading></app-background-loading>
</ng-template>
